<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Reservas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<table>
                <thead>
                    <tr>
                        <th>check in</th>
                        <th>check out</th>
                        <th>costo</th>
                        <th>parking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reserva : ${Booking}">
                        <td th:text="${reserva.checkIn}"></td>
                        <td th:text="${reserva.checkOut}"></td>
                        <td th:text="${reserva.cost}"></td>
                        <td th:text="${reserva.parking}"></td>
                        <td>
                            <a th:href="@{/booking/{id}(id = ${reserva.id})}" class="btn btn-primary">
        					Pagar reserva!
   	 					</a>
                        </td>
                    </tr>
                </tbody>
            </table>
 </body>
 