<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
</head>
<body>
	<header></header>

	<div class="container">
		<h1 th:text="${Room.name}"></h1>
		<h2>Alquiler</h2>
	</div>

	<div class="habitacion">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Facilidades</th>
					<th>Ocupacion maxima</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${Room.name}"></td>
					<td th:text="${Room.facilities}"></td>
					<td th:text="${Room.occupancy}"></td>
					<td th:text="${Room.price}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form">
		<form action="#" th:action="@{/rooms/{id}(id=${Room.id})}" th:object="${Booking}" method="post">
			<label for="checkIn">Check In</label>
			<input type="date" name="checkIn" placeholder="fecha de Inicio" th:value="*{checkIn}" />
			<label for="checkIn">Check Out</label>
			<input type="date" name="checkOut" placeholder="fecha de Fin" th:value="*{checkOut}" />
			<label for="checkIn">Desayuno incluido</label>
			<input type="checkbox" name="breakfastIncluded" placeholder="Incluir desayuno" th:checked="*{breakfastIncluded}" />
			<label for="checkIn">Estacionamiento</label>
			<input type="checkbox" name="parking" placeholder="Incluir estacionamiento" th:checked="*{parking}" />
			<label for="checkIn">Cancelacion Gratis</label>
			<input type="checkbox" name="freeCancelation" placeholder="Incluir cancelacion gratuita" th:checked="*{freeCancelation}" />
			<p>
				<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
			</p>
		</form>
	</div>