<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

    <header></header>

    <div class="container" align="center">

        <h1>Formulario de registro</h1>

        <!--
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>E-mail</th>
					<th>Nombre de usuario</th>
					<th>Contraseña</th>
					<th>Fecha de nacimiento</th>
					<th>Nacionalidad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="User:${usuario}">
					<td th:text="${usuario.firstName}"></td>
					<td th:text="${usuario.lastName}"></td>
					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.username}"></td>
					<td th:date="${usuario.birthDate}"></td>	
					<td th:text="${usuario.nationality}"></td>
				</tr>
			</tbody>
		</table>
		-->

        <p></p>
        <h2>Por favor, complete con sus datos.</h2>
        <p></p>

        <hr/>

        <form action="#" th:action="@{/users/new}" th:object="${User}" method="post">
            <div class="form-floating mb-3 col-sm-5">
                <input type="text" name="firstName" class="form-control" id="InputNombre" placeholder="Ingrese su nombre" th:value="*{firstName}" required>
                <label for="InputNombre">Nombre</label>
            </div>
            <div class="form-floating mb-3 col-sm-5">
                <input type="text" name="lastName" class="form-control" id="InputApellido" placeholder="Ingrese su apellido" th:value="*{lastName}" required>
                <label for="InputApellido">Apellido</label>
            </div>
            <div class="form-floating mb-2 col-sm-5">
                <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Ingrese su correo electrónico" th:value="*{email}" required>
                <label for="InputEmail">Correo electrónico</label>
                <small id="emailHelp" class="form-text text-muted">No compartiremos su correo electrónico con nadie.</small>
            </div>
            <div class="form-floating mb-3 col-sm-5">
                <input type="text" name="username" class="form-control" id="InputUsername" placeholder="Ingrese su nombre de usuario" th:value="*{username}" required>
                <label for="InputUsername">Nombre de usuario</label>
            </div>
            <div class="form-floating mb-3 col-sm-5">
                <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Ingrese su contraseña" th:value="*{password}" required>
                <label for="InputPassword">Contraseña</label>
            </div>
            <div class="form-floating mb-3 col-sm-5">
                <input type="date" name="birthDate" class="form-control" id="InputBirthDate" placeholder="Ingrese su fecha de nacimiento" th:value="*{birthDate}" required>
                <label for="InputBirthDate">Fecha de nacimiento</label>
            </div>
            <div class="form-floating mb-3 col-sm-5">
                <select id="InputNationality" name="nationality" class="form-select" th:value="*{nationality}" required>
					<option selected disabled>Seleccione un país</option>
					<option>Argentina</option>
					<option>Brasil</option>
					<option>Uruguay</option>
					<option>Chile</option>
					<option>Bolivia</option>
				</select>
                <label for="InputNationality">Nacionalidad</label>
            </div>
            <div class="mb-3 checkbox">
                <input type="checkbox" class="form-check-input" id="Check1" required>
                <label class="form-check-label" for="Check1">Acepto los términos y condiciones.</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
            <button type="reset" class="btn btn-secondary btn-lg">Reestablecer campos</button>
        </form>

    </div>

    <!-- Bundle de dependencias de Bootstrap (por las dudas). -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>