<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Habitaciones disponibles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>

    <header></header>

    <div class="container" align="center">

        <h1>Habitaciones Disponibles</h1>
        <p></p>
        <h2>Lista de habitaciones</h2>

        <hr/>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Facilidades</th>
                        <th>Ocupacion maxima</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="habitacion : ${room}">
                        <td th:text="${habitacion.name}"></td>
                        <td th:text="${habitacion.facilities}"></td>
                        <td th:text="${habitacion.occupancy}"></td>
                        <td th:text="${habitacion.price}"></td>
                        <td>
                            <a th:href="@{/rooms/{id}(id = ${habitacion.id})}" class="btn btn-primary">
        					Alquilar!
   	 					</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- Bundle de dependencias de Bootstrap (por las dudas). -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>