<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
</head>
<body>
	<header></header>	
	
<div class="container">
		<h1>Habitaciones Disponibles</h1>
</div>

<div>
    
  <h2>Lista de habitaciones</h2>
  
  <table th:class="${room}">
    <thead>
      <tr>
        <th th:text="#{name}">Nombre</th>
        <th th:text="#{facilities}">Facilidades</th>
        <th th:text="#{occupancy}">Ocupacion maxima</th>
        <th th:text="#{price}">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="sb : ${allSeedStarters}">
        <td th:text="${{sb.datePlanted}}">13/01/2011</td>
        <td th:text="${sb.covered}? #{bool.true} : #{bool.false}">yes</td>
        <td th:text="#{${'seedstarter.type.' + sb.type}}">Wireframe</td>
        <td th:text="${#strings.arrayJoin(
                           #messages.arrayMsg(
                               #strings.arrayPrepend(sb.features,'seedstarter.feature.')),
                           ', ')}">Electric Heating, Turf</td>
        <td>
          <table>
            <tbody>
              <tr th:each="row,rowStat : ${sb.rows}">
                <td th:text="${rowStat.count}">1</td>
                <td th:text="${row.variety.name}">Thymus Thymi</td>
                <td th:text="${row.seedsPerCell}">12</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>